body {
    background-image: url('../img/pattern.jpg');
    margin: 0;
    padding: 0;
}

header {
    z-index: 999999;
    display: flex;
    position: fixed;
    justify-content: space-between;
    background-color: white;
    padding: 10px;
    width: 100%;
    top: 0;
}

nav {
    display: flex;
    padding-right: 40px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: start;
}

nav ul a {
    padding-left: 10px;
    text-decoration: none;
}

section {
    background-color: white;
    margin: 100px;
}

section h1 {
    text-align: center;
    padding-top: 50px;
}

section #article-list {
    padding: 30px;
}

section #article-list div {
    padding-top: 30px;
    border-bottom: 1px solid gray;
}

section #article-list div a {
    padding-top: 30px;
    text-decoration: none;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
 }