.box {
    background-color: white;
    width: 370px;
    padding: 20px;
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

.logo {
    display: flex;
    justify-content: center;
}

.header {
    border-bottom: 2px solid gray;
}

.title {
    color: gray;
    font-weight: 400;
    margin-bottom: -10px;
}