h1{
    font-family: sans-serif;
}

.box-table {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
   
table.table-sendiri {
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
    text-shadow: 1px 1px 0px #fff;
    background: #eaebec;
    border: #ccc 1px solid;
}
   
table.table-sendiri th {
    padding: 15px 35px;
    border-left:1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    background: #ededed;
}
   
table.table-sendiri th:first-child{  
    border-left:none;  
}
   
table.table-sendiri tr {
    text-align: center;
    padding-left: 20px;
}
   
table.table-sendiri td:first-child {
    text-align: left;
    padding-left: 20px;
    border-left: 0;
}
   
table.table-sendiri td {
    padding: 15px 35px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    background: #fafafa;
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
    background: -moz-linear-gradient(top, #fbfbfb, #fafafa);
}
   
table.table-sendiri tr:last-child td {
    border-bottom: 0;
}
   
table.table-sendiri tr:last-child td:first-child {
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
   
table.table-sendiri tr:last-child td:last-child {
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
   
table.table-sendiri tr:hover td {
    background: #f2f2f2;
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
    background: -moz-linear-gradient(top, #f2f2f2, #f0f0f0);
}

form {
	margin: 0 auto 0 auto;
	padding-bottom: 30px;
	width: 400px;
	overflow: hidden;
	background: white;
	border-radius: 10px;
}

form label {
	font-size: 14px;
	color: darkgray;
	cursor: pointer;
}

form label,
form input {
	float: left;
	clear: both;
}

form input {
	margin: 15px 0;
	padding: 15px 10px;
	width: 100%;
	outline: none;
	border: 1px solid #bbb;
	border-radius: 20px;
	display: inline-block;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
    -webkit-transition: 0.2s ease all;
	   -moz-transition: 0.2s ease all;
	    -ms-transition: 0.2s ease all;
	     -o-transition: 0.2s ease all;
	        transition: 0.2s ease all;
}

form input[type=text]:focus,
form input[type="password"]:focus {
	border-color: cornflowerblue;
}

.btn-edit {
    padding: 8px 20px;
    margin-right: 10px;
	width: auto;
	background: lightseagreen;
	border: none;
	color: black;
	cursor: pointer;
	display: inline-block;
	clear: right;
}

.btn-delete {
    padding: 8px 20px;
	width: auto;
	background: red;
	border: none;
	color: white;
	cursor: pointer;
	display: inline-block;
	clear: right;
}

.btn-submit {
    padding: 15px 50px;
	width: auto;
	background: #1abc9c;
	border: none;
	color: white;
	cursor: pointer;
	display: inline-block;
	clear: right;
}

.box-theme-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-theme-button button {
    padding: 4px 8px 4px 8px;
    border-radius: 15px;
    cursor: pointer;
}